{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% include "header-dash.html" %}
        <div class="wrarp">
            <div class="row">
                {% if messages %}
                    <div class="col s12">
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="col l9 m12 s12">
                    {% if friendships_requests %}
                        {% for friendships_request in friendships_requests %}
                        <div class="friends-requests z-depth-1">
                            <h4><a href="{% url 'profiles:view' friendships_request.from_user.id %}">You have a new friend request - <span>{{friendships_request.from_user}}</span></a></h4>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col m6 s12">
                            <div class="profile box z-depth-1">
                                <h3 class="title-section">Profile</h3>
                                <div class="infos-profile">
                                    <h4>Username:</h4>
                                    <p>{{ user.username }}</p>
                                    <h4>Email:</h4>
                                    <p>{{ profile.email }}</p>
                                    <h4>Full name:</h4>
                                    <p>{{ profile.name }}</p>
                                    <h4>Native Language:</h4>
                                    <p>{{ profile.native }}</p>
                                    <h4>Language(s) I want to learn:</h4>
                                    <p>
                                    {% for language in profile.learning.all %}
                                        {{ language.name }}, 
                                    {% endfor %}</p>
                                    <h4>NUID:</h4>
                                    <p>{{ profile.nui_id }}</p>
                                </div>
                                <div class="cont-btn">
                                    <a href="{% url 'profiles:update' profile.id %}" class="btn-edit">EDIT PROFILE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col m6 s12">
                            <div class="friends box z-depth-1">
                                <h3 class="title-section">Friends</h3>
                                <div class="cont-friends">
                                    {% if friends %}
                                        {% for friend in friends %}                                        
                                        <div class="friend">
                                            <div class="row">
                                                <div class="col m4 s5">
                                                   
                                                    {% if friend.picture %}
                                                    <a href="{% url 'profiles:view' friend.id %}">
                                                    <div class="img-friend" style="background-image: url({{ friend.picture.url }})">
                                                    </div>
                                                    </a>
                                                    {% else%} 
                                                    <a href="{% url 'profiles:view' friend.id %}">
                                                    <div class="img-friend" style="background-image: url({% static "img/no-image.png" %})">
                                                    </div>
                                                    </a>
                                                    {% endif %}
                                                                      
                                                </div>
                                                <div class="col m8 s7"> 
                                                    <h4><a href="{% url 'profiles:view' friend.id %}">{{ friend.name}} </a></h4>
                                                    <p>{{ friend.native }}</p>
                                                    <a href="{% url 'profiles:view' friend.id %}"><img class="icon-view-friend" title="View Profile" src="{% static "img/icon-view2.png" %}" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor%}
                                    {% endif %}
                                </div>
                                <div class="cont-btn">
                                    <a href="{% url 'profiles:findfriends'%}" class="btn-edit">FIND A NEW FRIEND  +</a>
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>
                <div class="col l3 m12 s12">
                    <div class="news box z-depth-1">
                        <h3 class="title-section">News</h3>
                        <div class="cont-news">
                            <div class="tt">
                                <a class="twitter-timeline" href="https://twitter.com/whatsthecraicLE" data-widget-id="725038265099784193">Tweets de @whatsthecraicLE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> 

<!--<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">What's the Craic - Enjoy learning a new language</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">   
            <a href="{% url 'profiles:view' profile.id %}" class="btn btn-info pull-right">View Profile</a>          
            <a href="{% url 'profiles:update' profile.id %}" class="btn btn-primary pull-right">Edit Profile</a>   
            <a href="{% url 'logout'%}" class="btn btn-success pull-right">Sing out</a>  
            <a href="{% url 'profiles:findfriends'%}" class="btn btn-info pull-right">Find Friends</a>                  
        </div>
       
    </div>
</nav>
{% if messages %}
    <div class="col-lg-3 color03">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if possible_friends %}
    {% for possible_friend in possible_friends %}
            <li>{{ possible_friend.name }}</li>
    {% endfor %}
{% else %}
    <h1>None</h1>
{% endif %}
{{ user.id }}
{{ profile.name }}
{{ profile.email }}
<img src="{{profile.picture.url}}" alt="">
{% if friendships_requests %}
    <h1> Friendships Requests </h1>
    {% for friendships_request in friendships_requests %}
        <p>{{friendships_request.from_user}}</p>
        {% if friendships_request.from_user.picture %}
        <img width="100" src="{{friendships_request.from_user.picture.url}}" alt="">
        {% endif %}
    {% endfor %}
{% endif %}-->
{% endblock content %}