{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">What's the Craic - Enjoy learning a new language</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">   
            <a href="{% url 'profiles:view' profile.id %}" class="btn btn-info pull-right">View Profile</a>          
            <a href="{% url 'profiles:update' profile.id %}" class="btn btn-primary pull-right">Edit Profile</a>   
            <a href="{% url 'logout'%}" class="btn btn-success pull-right">Sing out</a>  
            <a href="{% url 'profiles:findfriends'%}" class="btn btn-info pull-right">Find Friends</a>                  
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
{% if messages %}
    <div class="col-lg-3 color03">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if possible_friends %}
    {% for possible_friend in possible_friends %}
            <li>{{ possible_friend.name }}</li>
    {% endfor %}
{% else %}
    <h1>None</h1>
{% endif %}
{{ user.id }}
{{ profile.name }}
{{ profile.email }}
<img src="{{profile.picture.url}}" alt="">
{% if friendships_requests %}
    <h1> Friendships Requests </h1>
    {% for friendships_request in friendships_requests %}
        <p>{{friendships_request.from_user}}</p>
        {% if friendships_request.from_user.picture %}
        <img width="100" src="{{friendships_request.from_user.picture.url}}" alt="">
        {% endif %}
    {% endfor %}
{% endif %}
<!-- /container -->
{% endblock content %}