{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% include "header-dash.html" %}
    <div class="wrarp">
        <div class="row">
            {% if messages %}
                <div class="col s12">
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="col l9 m12 s12">                
                <div class="friends box z-depth-1">
                    <h3 class="title-section">Find Friends</h3>
                    <div class="cont-friends">
                        <div class="row">
                        {% if possible_friends %}
                            {% for possible_friend in possible_friends %}
                                
                            <div class="col m6 s12">
                                <div class="friend">
                                    <div class="row">
                                        <div class="col m5 s5">
                                            
                                            {% if possible_friend.picture %}
                                            <a href="{% url 'profiles:view' possible_friend.id %}">
                                            <div class="img-friend" style="background-image: url({{ possible_friend.picture.url }})">
                                            </div>
                                            </a>
                                            {% else%}
                                            <a href="{% url 'profiles:view' possible_friend.id %}">
                                            <div class="img-friend" style="background-image: url({% static "img/no-image.png" %})">
                                            </div>
                                            </a> 
                                            {% endif %}
                                                              
                                        </div>
                                        <div class="col m7 s7"> 
                                            <h4><a href="{% url 'profiles:view' possible_friend.id %}">{{ possible_friend.name}} </a></h4>
                                            <p>{{ possible_friend.native }}</p>
                                            <a href="{% url 'profiles:view' possible_friend.id %}"><img class="icon-view-friend" title="View Profile" src="{% static "img/icon-view2.png" %}" alt=""></a>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                                
                            {% endfor %}
                        {% else %}
                            <h1>Sorry, no one found, try again later :(</h1>
                        {% endif %}
                         </div>
                    </div> 
                </div>
            </div>

            <!-- WAITING APPROVAL --> 
            {% if waiting_approvals %}
            <div class="col l9 m12 s12">                
                <div class="friends box z-depth-1">
                    <h3 class="title-section">Requests waiting for approval</h3>
                    <div class="cont-friends">
                        <div class="row">
                        
                            {% for waiting_approval in waiting_approvals %}
                                
                            <div class="col m6 s12">
                                <div class="friend">
                                    <div class="row">
                                        <div class="col m5 s5">
                                            
                                            {% if waiting_approval.picture %}
                                            <a href="{% url 'profiles:view' waiting_approval.id %}">
                                            <div class="img-friend" style="background-image: url({{ waiting_approval.picture.url }})">
                                            </div>
                                            </a>
                                            {% else%}
                                            <a href="{% url 'profiles:view' waiting_approval.id %}">
                                            <div class="img-friend" style="background-image: url({% static "img/no-image.png" %})">
                                            </div>
                                            </a> 
                                            {% endif %}
                                                              
                                        </div>
                                        <div class="col m7 s7"> 
                                            <h4><a href="{% url 'profiles:view' waiting_approval.id %}">{{ waiting_approval.name}} </a></h4>
                                            <p>{{ waiting_approval.native }}</p>
                                            <a href="{% url 'profiles:view' waiting_approval.id %}"><img class="icon-view-friend" title="View Profile" src="{% static "img/icon-view2.png" %}" alt=""></a>
                                        </div>
                                    </div>
                                </div>  
                            </div>                                
                            {% endfor %}
                         </div>
                    </div> 
                </div>
            </div>
            {% endif %}
            <!-- WAITING APPROVAL END--> 

        </div>
    </div>
</main> 

<!-- /container -->
{% endblock content %}