{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

<!--{% block title %}{% trans "Log in" %}{% endblock %}-->




{% block content %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
<div class="cont-login">
    <header id="home">
        <div class="container">
            <h1 class="logo"><a href="{% url 'home' %}">Whats the Craic - Enjoy learning a new language</a></h1>
            <div class="buttons">
                <a href="{% url 'home' %}">HOME</a>
            </div>
        </div>
    </header>     
    <div class="container">
        <div class="cont-form">
            <div class="white-box">
                <h3>Do your login below</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.username }}
                            <label>USERNAME</label>
                        </div>
                        <div class="input-field col s12">
                            {{ form.password }}
                            <label>PASSWORD</label>
                        </div>
                    </div>     
                    <div class="cont-submit">
                        <input type="submit" value="LOGIN" />
                    </div>   
                    <input type="hidden" name="next" value="{% url 'dashboard' %}" />
                </form>

                <!--<p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>-->
                <p>{% trans "Not a member?" %} <a href="{% url 'profiles:register' %}">{% trans "Register" %}</a>.</p>
            </div>            
        </div>        
    </div>
</div>
{% endblock %}




<!--<p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
<p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>-->


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
