{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
<div class="cont-login">
    <header id="home">
        <div class="container">
            <h1 class="logo"><a href="{% url 'home' %}">Whats the Craic - Enjoy learning a new language</a></h1>
            <div class="buttons">
                <a href="{% url 'home' %}">HOME</a>
            </div>
        </div>
    </header>     
    <div class="container">
        <div class="cont-form">
            <h3>Enter your new password below to reset your password:</h3>
            <form method="post" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.email }}
                        <label>Email</label>
                    </div>
                </div>     
                <div class="cont-submit">
                    <input type="submit" value="{% trans 'Set password' %}" />
                </div>   
            </form>
        </div>        
    </div>
</div>

{% endblock %}


{# This is used by django.contrib.auth #}
