/*
    Created on : 13/11/2014, 14:07:08
    Author     : Caio - caiocsalvador@gmail.com
*/

/* ESTILOS PADRONIZADOS */

/*@font-face{
    font-family:'bedinibolditalic';
    src:url("../fonts/bedinibolditalic.woff");
}*/

@font-face{
    font-family:'museo-sans700';
    src:url("../fonts/museosansrounded-700.woff");
}
@font-face{
    font-family:'museo-sans500';
    src:url("../fonts/museosansrounded-500.woff");
}
@font-face{
    font-family:'museo-sans300';
    src:url("../fonts/museosansrounded-300.woff");
}


@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html, body {background-color: #fff;}

#bg {width: 100%;}

body, .no-margin {margin: 0;}

#logo {text-indent: -9999px;margin:0;}

#logo a {display: block;}

#desenvolvidopor {
    bottom: 200px;
    position: fixed;
    right: 0;
    z-index: 9999;
}

.img-mask {overflow: hidden;}

.img-mask img {
    min-height: 100%;
    min-width: 100%;
}

.absolute { position: absolute; }
.relative, .center { position: relative}

.pad20 {padding: 20px;}
.pad30 {padding: 30px;}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a:hover {text-decoration: none;}


/*  FIM - PADRONIZADOS */
/* ******************************* */

#desenvolvidopor {
    bottom: 200px;
    position: fixed;
    right: 0;
    z-index: 9999;
}
html{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}
body{
    font-family: 'museo-sans500', sans-serif;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    min-height: 100%;
    float: left;
}
p{
    font-family: 'museo-sans500', sans-serif;
    font-size: 16px;
    color: #353535;
    line-height: 23.8px;
    text-align: left;
    text-shadow: none;
    text-transform: none;
}
a{
    font-family: 'museo-sans500', sans-serif;
    font-size: 15px;
    text-shadow: none;
    text-transform: none;
}
a:hover{
    font-family: 'museo-sans500', sans-serif;
}
a, a:hover, a img, a:hover img, input[type="submit"], input[type="submit"]:hover {
    text-decoration: none;
    -webkit-transition: all 200ms ;
    -moz-transition: all 200ms ;
    -ms-transition: all 200ms ;
    -o-transition: all 200ms ;
    transition: all 200ms ;
}
ul{
    list-style: none;
}
h1{
    font-family: 'museo-sans500', sans-serif;
    font-size: 45px;
    color: rgb(72, 108, 132);
    text-align: left;
    padding: 30px;
    text-transform: none;
}
h2{
    font-family: 'museo-sans500', sans-serif;
    text-shadow: none;
    text-transform: none;
}
h3{
    font-family: 'museo-sans500', sans-serif;
    text-shadow: none;
    text-transform: none;
}
ul li{
    list-style: none;
}
address{
    color: #fff;
}
header{
    position: absolute;
    z-index: 2;
    float: left;
    background-color: transparent;
    width: 100%;
}
.logo {
    text-indent: -9999px;
    width: 374px;
    height: 77px;
    background-image: url("../img/logo.png");
    padding: 0px;
    float: left;
    margin-top: 20px;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
}
.buttons{
    float: right;
    margin-top: 30px;
}
.parallax-container{
    height: 100vh;
    z-index: 1;
    position: absolute;
    width: 100%;
}
.info-bg{
    position: relative;
    z-index: 2;
    width: 600px;
    margin: 300px auto;
    text-align: center;
}
.info-bg h2{
    color: #fff;
    font-size: 32px;
    margin-top: 0px;
    text-align: center;
    line-height: 45px;
    float: left;
    width: 100%;
}
.info-bg h2:after{
    content: "";
    width: 140px;
    height: 8px;
    margin: 40px auto;
    background-color: #fff;
    display: block;
}
.info-bg a{
    display: block;
}
#bg-photo{
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
    float: left;
}
.buttons a{
    float: left;
    color: #fdfdfe;
    font-size: 16px;
    padding: 13px 20px;
    border: 2px solid #fdfdfe;
    margin-left: 20px;
    margin-top: 0px;
}
.buttons a:hover{
    float: left;
    color: #2498d4;
    background-color: #fff;
    font-size: 16px;
    padding: 13px 20px;
    border: 2px solid #fdfdfe;
    margin-left: 20px;
}
.info-bg .start{
    color: #fdfdfe;
    font-size: 16px;
    padding: 15px 35px;
    border: 2px solid #fdfdfe;
    display: inline-block;
}
.info-bg .start:hover{
    color: #2498d4;
    background-color: #fff;
}
.arrow{
    margin-top: 50px;
}
.navbar{
    background-color: #2498d4;
    float: left;
    width: 100%;
    height: 110px;
    position: relative;
    border-bottom: 5px solid #fff;
    z-index: 9;
}
.logo2 {
    text-indent: -9999px;
    width: 374px;
    height: 69px;
    background-image: url("../img/logo2.jpg");
    padding: 0px;
    float: left;
    margin-top: 18px;
}
.logo2 a{
    display: block;
    width: 100%;
    height: 100%;
}
.cont-navbar{
    float: left;
    width: 100%;
    height: 110px;
}
.navbar nav{
    background-color: transparent !important;
    margin-top: 18px;
    box-shadow: none !important;
    float: right;
    width: auto;
}
.navbar nav ul li a{
    font-size: 16px;
    font-weight: 400;
    border: 2px solid transparent;
}
.navbar nav ul li{
    background-color: transparent !important;
}
.navbar nav ul li a:hover{
    border: 2px solid #fff;
}
.navbar nav ul li.active a{
    border: 2px solid #fff;
}
.navbar nav .nav-wrapper{
    float: right;
    width: auto;
}
#works{
    float: left;
    width: 100%;
    background-color: #4fb3e5;
    padding: 50px 0px;
}
#works h3{
    float: left;
    width: 100%;
    font-size: 38px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}
.steps{
    float: left;
    width: 100%;
}
.step{
    text-align: center;
    float: left;
    width: 100%;
    opacity: 0;
    transform: translateY(300px);
    -webkit-transition: all 1000ms ;
    -moz-transition: all 1000ms ;
    -ms-transition: all 1000ms ;
    -o-transition: all 1000ms ;
    transition: all 1000ms ;
}
.step.active{
    opacity: 1;
    transform: translateY(0px);
    -webkit-transition: all 1000ms ;
    -moz-transition: all 1000ms ;
    -ms-transition: all 1000ms ;
    -o-transition: all 1000ms ;
    transition: all 1000ms ;
}

.img-step{
    text-align: center;
}
.img-step img{
    max-width: 100%;
}
.step h4{ 
    float: left;
    width: 100%;
    font-size: 28px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 25px;
}
.step p{
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 0px;
    font-family: "museo-sans300", sans-serif;
}
#testimonials{
    float: left;
    width: 100%;
    position: relative;
    padding: 50px 0px;
}
.img-testimonial{
    float: left;
    width: 100%;
    height: 230px;
    overflow: hidden;
}
.img-testimonial img{
    width: 100%;
}
#testimonials h3{
    float: left;
    width: 100%;
    font-size: 38px;
    text-align: center;
    margin-top: 30px;
    color: #2498d4;
}
.testimonials{
    float: left;
    width: 100%;
    margin-top: 60px;
}
.testimonial-box{
    border: 1px solid #c2c2c2;
    float: left;
    width: 100%;
    height: 230px;
    padding: 30px;
    position: relative;
}
.testimonials p{
    color: #5f5f5f;
    font-size: 14px;
    font-family: "museo-sans300", sans-serif;
    text-align: center;
}
.testimonials b{
    color: #2498d4;
    font-size: 18px;
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0;
    text-align: center;
}
.testimonials.owl-theme .owl-controls .owl-page span{
    background: #c2c2c2;
}
.testimonials .owl-controls{
    margin-top: 0px;
}
#contact{
    float: left;
    width: 100%;
    height: 660px;
}
.parallax-container2{
    height: 660px;
    z-index: 1;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.info-contact{
    float: left;
    margin-top: 60px;
    position: relative;
    z-index: 2;
    width: 100%;
}
#contact h3{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 38px;
    color: #fff;
}
#contact input{
    border: 2px solid #fff;
    color: #fff;
    text-indent: 10px;
    font-size: 14px;
    margin-bottom: 0px;
    font-family: "museo-sans300", sans-serif;
}
#contact textarea{
    border: 2px solid #fff;
    color: #fff;
    text-indent: 10px;
    font-family: "museo-sans300", sans-serif;
    font-size: 14px;
    height: 185px;
    padding-top: 10px;
}
#contact form{
    float: left;
    width: 100%;
    margin-top: 60px;
}
#contact ::-webkit-input-placeholder {
   color: #fff;
}
#contact input[type="submit"]{
    margin-top: 40px;
    color: #fdfdfe;
    font-size: 16px;
    padding: 15px 30px;
    border: 2px solid #fdfdfe;
    background-color: transparent;
    text-indent: 0px;
}
#contact input[type="submit"]:hover{
    color: #2498d4;
    background-color: #fff;
}
#contact :-moz-placeholder {
   color: #fff;
}
#contact ::-moz-placeholder {
   color: #fff;  
}
#contact :-ms-input-placeholder {  
   color: #fff;  
}
footer{
    float: left;
    width: 100%;
    text-align: center;
}
footer p {
    color: #2498d4;
    font-size: 18px;
    display: inline-block;
    width: 270px;
    padding-left: 70px;
    background-image: url("../img/mail.jpg");
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.face{
    float: left;
    width: 100%;
    position: relative;
    height: 230px;
    text-align: center;
}
.tt{
    float: left;
    width: 100%;
    position: relative;
    height: 230px;
    border-top: 1px solid #E2E9ED;
    text-align: center;
}
.explore{
    float: left;
    width: 100%;
    position: relative;
    height: 230px;
    text-align: center;
}
.explore img{
    max-width: 100%;
    margin-top: -5px;
}
/*
==============================
            LOGIN
==============================
*/
.cont-login{
    float: left;
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/bg-login.jpg");
    background-position: top center;
    background-size: cover;
    padding-top: 15rem;
}
.cont-form{
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}
.white-box{
    background-color: #fff;
    padding: 50px;
    width: 100%;
    float: left;
}
.white-box input{
    color: #9e9e9e;
    border-bottom: 1px solid #2498d4;
}
.white-box h5{    
    font-size: 1rem;
    color: #2498d4;
    margin-top: 0px;
}
.white-box .input-field input[type=file]{
    width: 100%;
}
.form-error ul{
}
/* label color */
.white-box  .input-field label {
    color: #2498d4;
}
   /* label focus color */
.white-box .input-field input[type=text]:focus + label {
    color: #9e9e9e;
}
/* label underline focus color */
.white-box .input-field input[type=text]:focus {
    border-bottom: 1px solid #2498d4;
    box-shadow: 0 1px 0 0 #2498d4;
}
.white-box .input-field input[type=password]:focus + label {
    color: #9e9e9e;
}
/* label underline focus color */
.white-box .input-field input[type=password]:focus {
    border-bottom: 1px solid #2498d4;
    box-shadow: 0 1px 0 0 #2498d4;
}

/* icon prefix focus color */
.white-box .input-field .prefix.active {
    color: #2498d4;
}
.white-box input[type=submit]{
    color: #2498d4;
    background-color: #fff;
    font-size: 16px;
    padding: 13px 20px;
    border: 2px solid #2498d4;
}
.white-box input[type=submit]:hover{
    color: #fff;
    background-color: #2498d4;
    font-size: 16px;
    padding: 13px 20px;
    border: 2px solid #fff;
}
.cont-submit{
    float: left;
    width: 100%;
    text-align: center;
}
.cont-login h3{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #5D5C5C;
}
.cont-login p{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #5D5C5C;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cont-form a{
    font-size: 12px;
    color: #2498d4;
}
.cont-form form{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.white-box .select-wrapper input.select-dropdown{
    border-bottom: 1px solid #2498d4;
}
ul.errorlist{
    background-color: #ef9a9a;
    margin-top: 0px;
    color: #fff;
    margin-bottom: 0px;
    padding-left: 5px;
}
.white-box .dropdown-content li > span {
    font-size: 16px;
    color: #2498d4;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.white-box [type="checkbox"]:checked + label:before{
    border-right: 2px solid #2498d4;
    border-bottom: 2px solid #2498d4;
}
.more-margin-30{
    margin-top: 30px;
}
/* COL-MD */
@media all and (max-width:1100px) and (min-width:992px){

}
/* COL-SM */
@media all and (max-width:992px) and (min-width:767px){
    
}
/* COL-XS */
@media all and (max-width:767px){

}
