/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:1070px;
}
#carousel {
  height:100%;
  width:100%;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  border:0;
  display:block;
}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  cursor:pointer;
}
.carousel-feature .carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background-color: transparent;
  top: 290px;
}
.carousel-feature .carousel-caption p {
  margin:0;
  padding:5px;
  font-size: 14px;
  margin-top: 0px;
  color: #545355;
}
.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#000;
  display: none !important;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
  display: none !important;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#000;
}
#carousel-left {
  position:absolute;
  bottom:33px;
  left:220px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:33px;
  right:220px;
  cursor:pointer;
}
.carousel-image{
  width: 100% !important;
  height: 100% !important;
}
.carousel-feature iframe{
  width: 100% !important;
  height: 100% !important;
}